h1 {
  color: white;
}

body {
  background-color: #B6608D;
}

#logo {
  width: 170px;
}

.navbar {
  background-color: #B6608D;
  border: none;
  margin-left: 10%;
  margin-right: 10%;
}

.navbar-nav {
  margin-top: 37px;
}

.navbar-link {
  color: white !important;
  font-family: 'Ubuntu', sans-serif;
}

.nav li a:active {
  background-color: blue !important;
}

.grow {
  transition: all .2s ease-in-out;
}

.grow:hover {
  transform: scale(1.2);
}

.table-responsive-1 {
  padding-top: 20px;
  margin-left: 13%;
  margin-right: 13%;
}

.table-responsive-1 .table thead tr th {
  border: 0px !important;
  text-align: center;
  content-align: center;
  background-image: url(header-img.png);
  background-repeat: no-repeat;
  background-size: auto 250px;
  background-position: 95% 0%;
  height: 250px !important;
}

.table {
  margin-top: 30px;
}

.table2 {
  margin-top: 5px !important;
}

.table-responsive-2 {
  margin-left: 12% !important;
  margin-right: 12% !important;
}

.table2 thead tr th {
  border-width: 0px 15px 15px 15px;
  border-style: solid;
  border-color: #B6608D !important;
  background-color: white;
  text-align: center;
  height: 250px;
}

.header-logo {
  height: 250px;
  float: right;
  margin-right: 5%;
}

.contact-form {
  text-align: left !important;
  vertical-align: middle !important;
  font-size: 10px;
  background-color: transparent !important;
}

.contact-image {
  width: 50%;
  background-color: transparent !important;
}

.cell1 {
  background-color: #ADFF8C !important;
  width: 33%;
}

.cell2 {
  background-color: #FD7F7F !important;
  width: 33%;
}

.cell3 {
  background-color: #FFC379 !important;
  width: 33%;
}

.cell4 {
  background-color: #71C1FD !important;
}

.cell5 {
  background-color: #F7FF78 !important;
  width: 33%;
}

.cell6 {
  background-color: #F5F3F2 !important;
}

.clothing-img {
  height: 100%;

}

.contactme-img {
  height: 155% !important;
}
