h1 {
    color: white;
}

body {
    background-color: #B6608D;

}

#logo {
    width: 170px;
}

.navbar {
    background-color: #B6608D;
    border: none;
    margin-left: 10%;
    margin-right: 10%;

}

.navbar-nav {
    margin-top: 37px;
}

.navbar-link {
    color: white !important;
}

.nav li a:active {
    background-color: blue !important;
}

.grow { transition: all .2s ease-in-out; }
.grow:hover { transform: scale(1.2); }

.table-responsive {
    padding-top: 70px;
    margin-left: 13%;
    margin-right: 13%;
}
